.background {
    position: absolute;
    width: 100%;
    height: 500px;
    display: flex;
    justify-items: center;
}
.yellowLight {
    width: 280px;
    height: 280px;
    background: #FCB045;
    opacity: 1;
    filter: blur(392px);
}
.ball {
    width: 548px;
    height: 548px;
    /*mix-blend-mode: soft-light;*/
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
